.senlerStatsTable{
  &__cellIcon{
    cursor: pointer;
    color: var(--primary-color);
    transition: filter .2s ease-in-out;

    &:hover {
      filter: brightness(90%);
    }

    &_success{
      color: var(--success-color);
    }

    &_error{
      color: var(--danger-color);
    }
  }
}
