.clientInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 214px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__title {
    cursor: pointer;
    max-width: fit-content;
    transition: color .1s ease-out;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__secondaryText {
    font-size: 12px;
    text-align: end;
  }
}
