.campaignsSettings {
  &__tagInput {
    width: 64px;
    height: 22px;
    margin-inline-end: 8px;

    vertical-align: top;

    border-radius: var(--border-radius) !important;
  }

  &__tagPlus {
    height: 22px;
    background: var(--secondary-background-color);
    border-style: dashed;
  }
}
