.clientsList {
  overflow: auto;

  max-width: 200px;
  height: calc(100% - 36px);
  margin: 16px;
  padding: 0 16px;

  border: 1px solid rgb(140 140 140 / 35%);
  border-radius: 5px;

  &__item {
    transition: border 0.1s ease-out;

    &:hover {
      border-bottom: 1px solid var(--primary-color);
    }

    &_selected {
      background-color: red;
    }
  }
}
