.invoiceList {
  &__title {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color) !important;
    transition: color .1s ease-out;

    &:hover {
      color: #69b1ff !important;
    }
  }

  &__text {
    font-weight: 500;
  }
}
